.my-icon {
    vertical-align: middle;
    font-size: 40px;
}

.my-text {
    font-family: "Courier-new";
}

.my-fancy-container {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    margin: 60px;
    padding: 10px;
}

.circle{
	border-radius: 50%;
	margin: 8em;

	}
	
.fa-taxi{
	background: #000000;
	color: #ff0080;
  padding: 1em 1em;
	}

.fa-hom{
  color: #000000;
  background: #ff0080;
  padding: 1em 1em;
  }  

.fa-hourglass-2{
	color: #ff0080;
	background: #000000;
  padding: 1em 1em;
	}

.fa-map-marker{
	color: #000000;
	background: #ff0080;
  padding: 1.2em 1.2em;
  
	}

.container {
    position: relative;
    text-align: center;
    font-family='roboto',Arial,sans-serif;
    color: blue;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
div#mydiv 
{
    
   text-align:center;
    z-index: -1;
}
{
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}


@-webkit-keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
}

@keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
}

 header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
    
 

#logo {
  
    margin: 0 auto;
}

#logobox {
    height: 5px;
   
}

#leaflogo {
    height: 50px;
    width: 200px;
    position: absolute;
    left:calc(0vw - 0px);
   margin: 10px 10px 10px 10px;
}


#align1{
	text-align:right;
	
}

body{
  padding:0;
  margin:0;
}
.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.bgvid{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
}
.inner-container{
  width:500px;
  height:800px;
   position:absolute;
  top:calc(0vh - 0px);
  right:calc(0vw - 0px);
  overflow:hidden;
}
.bgvid.inner{
  top:calc(-50vh + 200px);
  left:calc(-50vw + 200px);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}
.box{
  position:absolute;
  
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#ffffff;
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#ff0000;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#2ecc71;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

/* Services Section */
#services-section {
	padding: 100px 0;
}
#services-section h4 {
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 20px;
	display: inline-block;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 36px;
	margin-right: 20px;
	color: #71bd46;
	padding-bottom: 10px;
	display: block;
}